body {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  color: rgb(0, 255, 0);
  font-family: monospace !important;
  background-color: rgb(17, 17, 17);
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
}

.shell {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: rgb(17, 17, 17);
  border: 4px red;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 2;
}

.side-nav {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px yellow;
  align-items: center;
  background-color: black;
  width: 30%;
  height: 100vh;
  box-shadow: 0px 0px 10px 0px rgb(0, 255, 0);
  transition: ease-in-out;
  transition-duration: 500ms;
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.relative {
  position: relative;
}

.side-nav-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.side-nav-bottom {
  bottom: 0;
  padding: 10px;
}

.closed {
  width: 0 !important;
  overflow: hidden;
}

.logo {
  color: rgb(17, 17, 17);
  font-weight: bold;
  text-align: center;
  width: 100%;
  text-shadow: 0px 0px 10px rgb(0, 255, 0);
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  font-size: 96px;
  margin: 8px;
  transition: 500ms;
  cursor: default;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif,
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.logo:hover {
  text-shadow: 0px 5px 10px rgb(0, 255, 0);
  transform: translateY(-5px);
}
.user-icon {
  overflow: hidden;
  height: px;
  width: 96px;
  border-radius: 50%;
  background: rgb(17, 17, 17);
}

.main-page {
  height: 100%;
  position: realative;
  display: flex;
  flex-direction: column;
}

.login-page {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.pencil-icon {
  height: 24px;
  width: 24px;
  margin-right: 4px;
  cursor: pointer !important;
  z-index: 10;
}

.x-icon {
  height: 24px;
  width: 24px;
  margin-right: 4px;
  cursor: pointer !important;
  z-index: 10;
}
.logout-icon {
  height: 24px;
  width: 24px;
  margin-right: 4px;
}
.logout-button {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 16px;
  justify-content: center;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.login-container {
  min-width: 300px;
  border-radius: 8px;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.items-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

button {
  margin: 8px 0 8px 0;
  position: relative;
  outline: none;
  border: none;
  background-color: rgb(17, 17, 17);
  color: rgb(0, 255, 0);
  font-family: monospace;
  transition: easel;
  transition-duration: 500ms;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 0px 10px 0px rgb(0, 255, 0);
  transition: ease-in-out;
  transition-duration: 300ms;
}

button:hover {
  bottom: 2px;
  cursor: pointer;
  box-shadow: 0px 5px 5px 0px rgb(0, 255, 0);
  transform: translateY(-2px);
  /*background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 1),
    rgb(0, 255, 0, 0.2) 90%
  );*/
}

label {
  margin-bottom: 4px;
}
input {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1),
    rgb(0, 255, 0, 0.2) 90%,
    rgb(0, 255, 0, 1)
  );
  color: rgb(0, 255, 0);
  border: none;
  border-bottom: rgb(0, 255, 0) 1px;
  outline: rgb(0, 255, 0);
  padding: 4px;
  margin-bottom: 8px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(0, 255, 0);

  transition: background-color 5000000s ease-in-out 0s;
}

.todo-list {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.todo {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  padding: 8px;
  margin: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: ease-in-out;
  transition-duration: 500ms;
  border-radius: 8px;
  transition-duration: 500ms;
  box-shadow: 0px 0px 5px 1px rgb(0, 255, 0);
}
.todo:hover {
  box-shadow: 0px 5px 3px 0px rgb(0, 255, 0);
  transform: translateY(-8px);
}

.checkbox:checked {
  text-decoration: line-through;
}

.checkbox {
  margin-right: 4px;
}

.done {
  text-decoration: line-through;
}

.user-icon {
  padding: 4px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgb(0, 255, 0);
  margin-top: 16px;
  position: relative;
  transition: ease-in-out;
  transition-duration: 500ms;
  cursor: pointer;
}

.user-icon:hover {
  box-shadow: 0px 10px 10px 0px rgb(0, 255, 0);
  transform: translateY(-8px);
}

.item-text {
  cursor: pointer;
}

.open-sidebar {
  padding: 0;
  margin: 0;
  position: relative;
  height: 40px;
  width: 40px;
}

.toggle-sidebar {
  padding: 0;
  height: 48px;
  width: 48px;
  margin: 25px;
  border-radius: 50%;
  background-color: black;
  transition: ease-in-out;
  transition-duration: 500ms;
  box-shadow: 0px 0px 5px 1px rgb(0, 255, 0);
}
.toggle-sidebar:hover {
  box-shadow: 0px 5px 5px 0px rgb(0, 255, 0);

  transform: translateY(-8px);
}

.rotate-right {
  transition-duration: 500ms;
  transform: rotate(-180deg);
}

.rotate-left {
  transition-duration: 500ms;
  transform: rotate(0deg);
}

.list-item {
  color: rgb(0, 255, 0);
  background-color: white;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.text-sm {
  font-size: small;
}

.text-lg {
  font-size: large;
}

.add-button {
  cursor: pointer;
  background-color: rgb(0, 255, 0);
  color: black;
  padding: 8px;
  margin: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: ease-in-out;
  transition-duration: 500ms;
  border-radius: 8px;
  transition-duration: 500ms;
  box-shadow: 0px 0px 5px 1px rgb(0, 255, 0);
}

.rotate {
  transition: transform 0.5s ease-in-out;
}
.rotate:hover {
  transform: rotate(360deg);
}

.add-icon {
  height: 24px;
  align-self: center;
}

.add-item-input {
  background: transparent;
  color: black;
  align-self: center;
  padding: 0;
  margin: 2px;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-y-scroll {
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ff00;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00ff00;
  box-shadow: 0px 0px 5px 1px rgb(0, 255, 0);
}

.h-half {
  height: 50%;
}

.greeting {
  font-size: large;
  margin: 8px;
}
.profile {
  width: 90%;
  text-overflow: clip;
  margin: 8px;
}
